<div class="parallax-container parallax-contact-container">
    <div class="action-container">
        <h1>{{title}}</h1>
    </div>
    <div class="parallaxContactBanner"><img src="../../../assets/images/contact/banner1.jpg">
        <div class="overlayer"></div>
    </div>
</div>
<div class="contact-container">
    <div class="container">
        <div class="row">
            <img class="hide-on-med-and-down" src="../../../assets/images/decoration.png" alt="">
            <div class="col s12 l6 offset-l6">
                <div class="contact">
                    <form action="" ngNativeValidate>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="name" type="text" class="validate" autocomplete="off" pattern="[a-zA-Z ]+" required>
                                <label for="name">Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" type="email" class="validate" autocomplete="off" required>
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="textarea1" class="materialize-textarea" autocomplete="off"></textarea>
                                <label for="textarea1">Textarea</label>
                            </div>
                        </div>
                        <button class="waves-effect waves-light btn-large btn-custom">
                            Send
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>    
</div>