<div class="parallax-container parallax-contact-container">
    <div class="action-container">
        <h1>{{title}}</h1>
    </div>
    <div class="parallaxAboutBanner"><img src="../../../assets/images/about/banner1.jpg">
        <div class="overlayer"></div>
    </div>
</div>
<div class="about-container">
    <div class="container">
        <br>
        <div class="row">
            <div class="col s12 l8">
                <img src="../../../assets/images/about/about6.jpg" class="responsive-img">
            </div>
            <div class="col s12 l4">
                <div class="about-text">
                    <h4 class="title">
                        Lorem ipsum
                    </h4>
                    <p class="description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo cupiditate animi voluptates quod quis dolorum fugiat ex. Natus aperiam cumque sapiente in tempore nihil nostrum accusamus totam ducimus! Cum?
                    </p>
                    <p class="description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo cupiditate animi voluptates quod quis dolorum fugiat ex. Natus aperiam cumque sapiente in tempore nihil nostrum accusamus totam ducimus! Cum?
                    </p>
                </div>
            </div>
        </div>
        <div class="row">            
            <div class="col s12 l4">
                <div class="about-text">
                    <h4 class="title">
                        Lorem ipsum
                    </h4>
                    <p class="description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo cupiditate animi voluptates quod quis dolorum fugiat ex. Natus aperiam cumque sapiente in tempore nihil nostrum accusamus totam ducimus! Cum?
                    </p>
                    <p class="description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo cupiditate animi voluptates quod quis dolorum fugiat ex. Natus aperiam cumque sapiente in tempore nihil nostrum accusamus totam ducimus! Cum?
                    </p>
                </div>
            </div>
            <div class="col s12 l8">
                <img src="../../../assets/images/about/about4.jpg" class="responsive-img">
            </div>
        </div>
        <div class="row">
            <div class="col s12 l8">
                <img src="../../../assets/images/about/about5.jpg" class="responsive-img">
            </div>
            <div class="col s12 l4">
                <div class="about-text">
                    <h4 class="title">
                        Lorem ipsum
                    </h4>
                    <p class="description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo cupiditate animi voluptates quod quis dolorum fugiat ex. Natus aperiam cumque sapiente in tempore nihil nostrum accusamus totam ducimus! Cum?
                    </p>
                    <p class="description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo cupiditate animi voluptates quod quis dolorum fugiat ex. Natus aperiam cumque sapiente in tempore nihil nostrum accusamus totam ducimus! Cum?
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>