<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">
                    Lorem ipsum dolor sit amet
                </h5>
                <p class="grey-text text-lighten-4">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum delectus nostrum, iure, voluptatem quibusdam nihil.
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <ul>
                    <li [routerLinkActive]="['active']"><a class="grey-text text-lighten-3" [routerLink]="['/home']">Home</a></li>
                    <li [routerLinkActive]="['active']"><a class="grey-text text-lighten-3" [routerLink]="['/gallery']">Gallery</a></li>
                    <li [routerLinkActive]="['active']"><a class="grey-text text-lighten-3" [routerLink]="['/about']">About</a></li>
                    <li [routerLinkActive]="['active']"><a class="grey-text text-lighten-3" [routerLink]="['/contact']">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center-align">
            © 2017 Music City Records - <a class="grey-text text-lighten-4" href="https://gitlab.com/A_Gnlz" target="_blank">@A_Gnlz</a>
        </div>
    </div>
</footer>