<div class="parallax-container parallax-contact-container">
    <div class="action-container">
        <h1>{{title}}</h1>
    </div>
    <div class="parallaxGalleryBanner"><img src="../../../assets/images/gallery/banner1.jpg">
        <div class="overlayer"></div>
    </div>
</div>
<div class="gallery-container">    
    <div class="container">
        <div class="row">
            <div class="col s6 m4 l3">
                <div class="item-gallery">
                    <img src="../../../assets/images/gallery/gallery1.jpg" class="materialboxed responsive-img">
                </div>
            </div>
            <div class="col s6 m4 l3">
                <div class="item-gallery">
                    <img src="../../../assets/images/gallery/gallery2.jpg" class="materialboxed responsive-img">
                </div>
            </div>
            <div class="col s6 m4 l3">
                <div class="item-gallery">
                    <img src="../../../assets/images/gallery/gallery3.jpg" class="materialboxed responsive-img">
                </div>
            </div>
            <div class="col s6 m4 l3">
                <div class="item-gallery">
                    <img src="../../../assets/images/gallery/gallery4.jpg" class="materialboxed responsive-img">
                </div>
            </div>
            <div class="col s6 m4 l3">
                <div class="item-gallery">
                    <img src="../../../assets/images/gallery/gallery5.jpg" class="materialboxed responsive-img">
                </div>
            </div>
            <div class="col s6 m4 l3">
                <div class="item-gallery">
                    <img src="../../../assets/images/gallery/gallery6.jpg" class="materialboxed responsive-img">
                </div>
            </div>
            <div class="col s6 m4 l3">
                <div class="item-gallery">
                    <img src="../../../assets/images/gallery/gallery7.jpg" class="materialboxed responsive-img">
                </div>
            </div>
            <div class="col s6 m4 l3">
                <div class="item-gallery">
                    <img src="../../../assets/images/gallery/gallery8.jpg" class="materialboxed responsive-img">
                </div>
            </div>
            <div class="col s6 m4 l3">
                <div class="item-gallery">
                    <img src="../../../assets/images/gallery/gallery9.jpg" class="materialboxed responsive-img">
                </div>
            </div>
            <div class="col s6 m4 l3">
                <div class="item-gallery">
                    <img src="../../../assets/images/gallery/gallery10.jpg" class="materialboxed responsive-img">
                </div>
            </div>
            <div class="col s6 m4 l3">
                <div class="item-gallery">
                    <img src="../../../assets/images/gallery/gallery11.jpg" class="materialboxed responsive-img">
                </div>
            </div>
            <div class="col s6 m4 l3">
                <div class="item-gallery">
                    <img src="../../../assets/images/gallery/gallery12.jpg" class="materialboxed responsive-img">
                </div>
            </div>
            <div class="col s6 m4 l3">
                <div class="item-gallery">
                    <img src="../../../assets/images/gallery/gallery13.jpg" class="materialboxed responsive-img">
                </div>
            </div>
            <div class="col s6 m4 l3">
                <div class="item-gallery">
                    <img src="../../../assets/images/gallery/gallery14.jpg" class="materialboxed responsive-img">
                </div>
            </div>
            <div class="col s6 m4 l3">
                <div class="item-gallery">
                    <img src="../../../assets/images/gallery/gallery15.jpg" class="materialboxed responsive-img">
                </div>
            </div>
            <div class="col s6 m4 l3">
                <div class="item-gallery">
                    <img src="../../../assets/images/gallery/gallery16.jpg" class="materialboxed responsive-img">
                </div>
            </div>
            <div class="col s6 m4 l3">
                <div class="item-gallery">
                    <img src="../../../assets/images/gallery/gallery17.jpg" class="materialboxed responsive-img">
                </div>
            </div>
            <div class="col s6 m4 l3">
                <div class="item-gallery">
                    <img src="../../../assets/images/gallery/gallery18.jpg" class="materialboxed responsive-img">
                </div>
            </div>
            <div class="col s6 m4 l3">
                <div class="item-gallery">
                    <img src="../../../assets/images/gallery/gallery19.jpg" class="materialboxed responsive-img">
                </div>
            </div>
            <div class="col s6 m4 l3">
                <div class="item-gallery">
                    <img src="../../../assets/images/gallery/gallery20.jpg" class="materialboxed responsive-img">
                </div>
            </div>
            <div class="col s6 m4 l3">
                <div class="item-gallery">
                    <img src="../../../assets/images/gallery/gallery21.jpg" class="materialboxed responsive-img">
                </div>
            </div>
            <div class="col s6 m4 l3">
                <div class="item-gallery">
                    <img src="../../../assets/images/gallery/gallery22.jpg" class="materialboxed responsive-img">
                </div>
            </div>
            <div class="col s6 m4 l3">
                <div class="item-gallery">
                    <img src="../../../assets/images/gallery/gallery23.jpg" class="materialboxed responsive-img">
                </div>
            </div>
            <div class="col s6 m4 l3">
                <div class="item-gallery">
                    <img src="../../../assets/images/gallery/gallery24.jpg" class="materialboxed responsive-img">
                </div>
            </div>
        </div>
    </div>
</div>