<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a [routerLink]="['/home']" class="brand-logo center"><i class="material-icons">album</i></a>
            <a href="#" data-activates="mcr-sidenav" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li [routerLinkActive]="['active']"><a [routerLink]="['/home']">Home</a></li>
                <li [routerLinkActive]="['active']"><a [routerLink]="['/gallery']">Gallery</a></li>
            </ul>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li [routerLinkActive]="['active']"><a [routerLink]="['/about']">About</a></li>
                <li [routerLinkActive]="['active']"><a [routerLink]="['/contact']">Contact Us</a></li>
            </ul>
            <ul class="side-nav" id="mcr-sidenav">
                <li [routerLinkActive]="['active']"><a [routerLink]="['/home']">Home</a></li>
                <li [routerLinkActive]="['active']"><a [routerLink]="['/gallery']">Gallery</a></li>
                <li [routerLinkActive]="['active']"><a [routerLink]="['/about']">About</a></li>
                <li [routerLinkActive]="['active']"><a [routerLink]="['/contact']">Contact Us</a></li>
            </ul>
        </div>
    </nav>
</div>