<div class="parallax-container">
    <div class="action-container">
        <h1>{{title}}</h1>
        <a class="waves-effect waves-light btn-large btn-custom">
            Contact Us
        </a>
    </div>
    <div class="parallaxHomeBanner"><img src="../../../assets/images/home/banner1.jpg">
        <div class="overlayer"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col s12 l6 offset-l3">
            <div class="about">
                <h4 class="title center-align">About Us</h4>
                <p class="description center-align">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi impedit perspiciatis at itaque voluptatibus rerum accusantium quae natus modi, consequatur esse, amet, earum vel quibusdam cum. Tenetur perspiciatis repellendus natus?</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 l4">
            <div class="card">
                <div class="card-image">
                    <img src="../../../assets/images/home/card1.jpg">
                    <span class="card-title">Lyrics</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light rosa"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt porro debitis molestiae itaque sit repellat quas laudantium eaque.</p>
                </div>
            </div>
        </div>
        <div class="col s12 l4">
            <div class="card">
                <div class="card-image">
                    <img src="../../../assets/images/home/card2.jpg">
                    <span class="card-title">Unplugged</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light rosa"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt porro debitis molestiae itaque sit repellat quas laudantium eaque.</p>
                </div>
            </div>
        </div>
        <div class="col s12 l4">
            <div class="card">
                <div class="card-image">
                    <img src="../../../assets/images/home/card3.jpg">
                    <span class="card-title">Studio</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light rosa"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt porro debitis molestiae itaque sit repellat quas laudantium eaque.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="parallax-container">
    <div class="parallaxHomeCards"><img src="../../../assets/images/home/banner2.jpg">
        <div class="overlayer"></div>
        
    </div>
</div>
<div class="info-container">
    <div class="container">
        <div class="row">
            <div class="col s12 l6">
                <div class="info">
                    <h4 class="title">
                        Info
                    </h4>
                    <p class="description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi aspernatur facere enim doloremque deleniti veritatis ea illum quod qui? Ad vero blanditiis voluptas fuga dolor magni dolorem nesciunt nihil nulla.
                    </p>
                    <p class="description">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae assumenda, maxime doloremque beatae nam facilis ipsam corporis et unde, quas natus a provident voluptatum? Quam natus pariatur adipisci esse sint?
                    </p>
                    <p class="description">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam, corrupti! Quos ullam asperiores deleniti, consequatur facilis modi incidunt eum at minima? Expedita, consequatur et? Debitis recusandae velit non odit iusto!Voluptatem dignissimos quam cumque perferendis? Animi fugit perferendis eum nihil eos iste quam dolorem sunt molestiae iure error mollitia incidunt voluptatibus autem at unde, doloribus nam velit recusandae temporibus veritatis.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <img class="hide-on-med-and-down" src="../../../assets/images/decoration.png" alt="">
</div>