@import '../node_modules/materialize-css/dist/css/materialize.min.css';
@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700';
@rosa: #C1394A;
@azul: #056CD4;
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.07em;
}
main {
    flex: 1 0 auto;
}
nav{
    background-image: linear-gradient(45deg,@rosa 0%,@azul 100%);
    .brand-logo{
        i{
            font-size: 100px;
            margin-top: 10px;
            color: #240B3B;
            transition: 0.5s ease;
            animation-duration: 0.5s;
            animation-name: heartbeat;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
    }
}
@keyframes heartbeat{
    from{
        font-size: 90px;
    }
    to{
        font-size: 120px;
    }
}
footer{
    background-image: linear-gradient(45deg, @azul 0%, @rosa 100%);
}
.parallax-container{
    position: relative;
    .overlayer{
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        background-color: rgba(16, 0, 61, 0.2);
        z-index: 1;
    }
    .action-container{
        padding-top: 80px;
        z-index: 2;
        text-align: center;
        h1{
            font-weight: bold;
            color: #ffffff;
            text-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
        }
    }
}
.about{
    margin: 40px 0;
    .title{
        font-size: 30px;
        color: @rosa;
        text-transform: uppercase;
    }
    .description{
        font-size: 14px;
    }
}
.card{
    .card-image
    {
        .card-title{
            text-shadow: 0 0 4px rgba(0, 0, 0, 1);
            color: white;
        }
    }
}
.info-container{
    position: relative;
    overflow: hidden;
    img{
        position: absolute;
        top: 0;
        right: 0;
        width: 650px;
    }
    .info{
        padding: 40px 0;
        .title{
            font-size: 30px;
            color: @rosa;
            text-transform: uppercase;
        }
        .description{
            font-size: 14px;
        }
    }
}
.contact-container{
    position: relative;
    overflow: hidden;
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 650px;
        transform: rotate(180deg);
    }
    .contact{
        padding: 40px 0;        
    }
}
.btn-custom{
    background-color: rgba(255, 255, 255, 0.2);
    border: 3px solid @rosa;
    color: @rosa;
    &:hover{
        background-color: @rosa;
        color: #ffffff;
    }
}
.rosa{
    background-color: @rosa !important;
}
#sidenav-overlay{
    z-index: 10;
}
.parallax-contact-container{
    height: 250px;
}

.gallery-container{
    .item-gallery{
        margin: 8px 0;
    }
}

.about-container{
    .about-text{
        margin: 60px 0;
        .title{
            font-size: 30px;
            color: @rosa;
            text-transform: uppercase;
        }
        .description{
            font-size: 14px;
        }
    }
}
//icons material-css
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v32/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}
  
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}